@rendermode InteractiveWebAssembly
@page "/weather"


<h3>IndexedDB Example with Schema Upgrade</h3>
<button @onclick="InitializeDb">Initialize Database</button>

<MudButton Onclick="AddNewItem">Add new item</MudButton>

