/* Hide default scrollbar */
html,
body {
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

/* Custom Scrollbar Container */
#custom-scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 8px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

#custom-scrollbar:hover {
    opacity: 1; /* Keep visible when hovered */
}

/* Scrollbar Thumb */
#custom-scrollbar .thumb {
    background-color: var(--mud-palette-primary); /* Customize color */
    width: 100%;
    border-radius: 4px;
    position: relative;
    top: 0;
    cursor: pointer; /* Change cursor on hover to indicate it's draggable */
}
