@rendermode InteractiveServer
@attribute [Route(PageRoutes.Error.ErrorPage + "/{ErrorMessage}")]
@attribute [Route(PageRoutes.Error.Name + "/{ErrorId}")]
@layout BlankLayout

<PageTitle>@ErrorId</PageTitle>


<div class="container" >
    <h1>@ErrorId Internal Error</h1>
    <p>Oops! The page you are looking for could not be working.</p>
    <div class="align-center d-flex flex-row gap-3 mt-3" >

        <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Medium" />
        <MudText>@HandingMessage</MudText>
        @if (SuccessHanding)
        {
            <MudLink Href="/" >Home</MudLink>
            <MudLink Href="@ReturnUrl" >Return</MudLink>
        }
    </div>
</div>