.container {
    
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (orientation: landscape) {
    .container {
        height: 100dvh;
    }
}

@media (orientation: portrait) {
    .container {
        height: 100dvh;
    }
}

h1 {
    font-size: 3em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}