.main-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
}

.culture-container {
    position: absolute;
    right: 3px;
    top: 0px;
}