@using Color = MudBlazor.Color
<MudDialog>
    <TitleContent>
        <div class="d-flex flex-row gap-3">
            <MudIcon Icon="@Icons.Material.Filled.Add" Color="Color.Primary"></MudIcon>
            <MudText>@AppLang.Add</MudText>
            <MudSpacer/>
        </div>
    </TitleContent>
    <DialogContent>
        
        <MudForm>
            
        </MudForm>
        
    </DialogContent>
</MudDialog>