@using BusinessModels.Resources
<MudPaper Class="align-center d-flex flex-column justify-center mud-width-full" Style="@("height:100dvh; gap:100px;")">
    <div class="god-fluid">
        <div class="absolute god-border-white god-bubble"></div>
        <div class="absolute god-bubble god-bubble-child0 god-scale-05 top0"></div>
        <div class="absolute god-bubble god-bubble-child1 god-scale-025 top0"></div>
        <div class="absolute god-bubble god-bubble-child2 god-scale-05 top0"></div>
        <div class="absolute god-bubble god-bubble-child3 god-scale-025 top0"></div>
        <div class="absolute god-bubble god-bubble-child4 god-scale-025 top0"></div>
        <div class="absolute god-bubble god-bubble-child5 god-scale-05 top0"></div>
        <div class="absolute god-bubble god-bubble-child6 god-scale-025 top0"></div>
        <div class="absolute god-bubble god-bubble-child7 god-scale-05 top0"></div>
    </div>
    <MudText Typo="Typo.h5">@AppLang.One_moment_please...</MudText>
</MudPaper>