<div class="@Class">
    <MudStack Class="mud-width-full">
        <span class="css-selector fa-meteor fa-solid icon-extra-extra"></span>
        <span>@AppLang.There_is_nothing_to_show</span>
    </MudStack>
</div>

@code {
    [Parameter] public string Class { get; set; } = string.Empty;
}