<div id="@ElementId" >
    <p class="date" >@Date.ToString("yyyy-MM-dd dddd", CultureInfo.CurrentCulture)</p>
    <p class="time" >@Date.ToUniversalTime().ToString("HH:mm:ss", CultureInfo.CurrentCulture)</p>
    <p class="text" >DIGITAL CLOCK with Vue.js</p>
</div>