/*noinspection ALL*/
.this-main-container {
    min-height: max(100dvh, var(--blazor-app-min-allow-height));
}

@media (orientation: landscape) {
    .primary-Container {
        min-height: var(--blazor-app-min-allow-height);
        overflow-x: hidden;
        overflow-y: clip;
        padding: 24px;
    }
}

@media (orientation: portrait) {
    .primary-Container {
        min-height: calc(100dvh - 48px);
        overflow-x: hidden;
        overflow-y: clip;
        padding: 16px;
    }
}