.file-list-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.icon-container > span {
    border-radius: 999px;
    background-color: #bbbbbb;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.icon-container > div {
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    border-radius: 999px;
}

.content-container > h5:first-child {
    font-weight: bold;
}